language: julia
os:
  - linux
  - osx
julia:
  - 0.7
  - nightly
notifications:
  email: false
matrix:
  allow_failures:
  - julia: nightly
after_success:
  - julia -e 'cd(Pkg.dir("BioStructures")); Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())'
  - julia -e 'cd(Pkg.dir("BioStructures")); Pkg.add("Documenter"); include(joinpath("docs", "make.jl"))'
